# Ignore the virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore the data directory and database files
/data/
*.db

# Ignore the configuration file with secrets
config/config.ini
